.idea/
node_modules
log.txt
solution.js
solution.js.map
/day-11/monkey.js.map
/day-11/monkey.js
/day-15/cave.js
/day-15/cave.js.map
/day-16/worker.js
/day-16/worker.js.map
/day-16/tests.js
/day-16/tests.js.map
/day-16/solution-b.js
/day-16/solution-b.js.map
/day-16/heapdumps/*
/day-16/tests-b.js
/day-16/tests-b.js.map
/day-16/buffer/
